doctype html
html
  head
    meta(name="google-site-verification", content="TDbiOxQyRWMlNf_EB1gBK_sqkEjXa93bChX2jA1H_cc")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
